@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to right bottom, hsla(0, 4%, 52%, 0.815), hsla(0, 28%, 88%, 0.801));
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  flex-direction: column;
  place-items: center;
}

.photo img {

  border-radius: 5px;

  border-radius: 5px;
  /* object-fit: cover; */
}

@media (max-width: 768px) {
  .photos {
    display: flex;
    flex-direction: column;
  }
}